* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
h1{
    text-align: center;
}
.parent {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.container {
  width: 500px;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  overflow-wrap: break-word;
}


#quote {
  font-size: 20px;
  margin-bottom: 25px;
  min-height: 80px;
  /* text-overflow: unset; */
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}